@{
    ViewBag.Title = "出纳窗";
}

@section Scripts {
    <script>

        // 读者view model
        var patronVModel = {
            barcode: ko.observable(),
            name: ko.observable(),
            department:ko.observable(),
            readerType: ko.observable(),
            
            state:ko.observable(),
            createDate:ko.observable(),
            expireDate: ko.observable(),
            comment:ko.observable()
        };

        // 加载读者
        function loadPatronInfo() {
            // 从服务器api获得读者json数据
            sendAjaxRequest("GET", function (data) {

                // 更新到patronVModel上
                //alert(data.barcode);
                patronVModel.barcode(data.barcode);
                patronVModel.name(data.name);
                patronVModel.department(data.department);
                patronVModel.readerType(data.readerType);

                patronVModel.state(data.state);
                patronVModel.createDate(data.createDate);
                patronVModel.expireDate(data.expireDate);
                patronVModel.comment(data.comment);

                // 焦点换到item上
                $("#txtItemBarcode").focus();

            },"/api/patron/" + $("#txtReaderBarcode").val());
        }

        // 加载读者信息与借阅信息
        function loadPatron() {
            //alert("1");
            loadPatronInfo();
            //alert("2");
            getBorrowInfo();
        }
            

        // 借阅信息
        var borrowModel = {
            borrows: ko.observableArray()
        }

        //获取借阅信息
        function getBorrowInfo() {

            var url = "/api/patron/" + $("#txtReaderBarcode").val() + "?format=borrowinfo";
            sendAjaxRequest("GET", function (data) {

                //alert("回来了");
                
                // 先删除可观察数组中的已有数据
                borrowModel.borrows.removeAll();
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    borrowModel.borrows.push(data[i]);
                }
                
            },url);
        }

        // ajax请求
        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax(url, {
                type: httpMethod,
                success: callback,
                data: reqData
            });
        }


        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            // 加载绑定
            ko.applyBindings(patronVModel, document.getElementById('divPatron'));
            ko.applyBindings(borrowModel, document.getElementById('divBorrow'));
            

            // 给装载按钮绑事件
            $("#btnLoad").click(loadPatron);

            // 给读者证条码输入框加回车事件
            $('#txtReaderBarcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    loadPatron();
                }
            });

            /*
            // 给执行按钮绑事件
            $("#btnDo").click(doString);

            // 当册条码绑回车事件
            $('#txtItemBarcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    doString();
                }
            });
            */
        })

    </script>
}


<div class="container" style="background-color:#ffffff">
    <br/>
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li class="active">出纳窗</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="background-color:#ffffff"> 
            <h3>
                <div class="well">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">借</a></li>
                        <li><a href="#">还</a></li>
                        <li><a href="#">续借</a></li>
                    </ul>
                    <br/>
                    <table class="table-condensed">
                        <tr>
                            <td class="col-sm-4"><span class="glyphicon glyphicon-user"></span><strong> 证条码号</strong></td>
                            <td class="col-sm-6"><input type="text" class="form-control" id="txtReaderBarcode" placeholder="读者证条码号"></td>
                            <td class="col-sm-2"><strong><button type="button" class="btn btn-default btn-lg col-lg-12 active" id="btnLoad">装载</button></strong></td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><span class="glyphicon  glyphicon-book "></span>&nbsp;<strong>册条码号</strong></td>
                            <td class="col-sm-6"><input type="text" class="form-control  col-sm-6" id="txtItemBarcode" placeholder="册条码号"></td>
                            <td class="col-sm-2" style="height:80px"><button type="submit" class="btn btn-primary btn-lg col-lg-12" id="btnDo">借</button></td>
                        </tr>
                    </table>

                </div>
            </h3>
            <br />

            <!-- Table -->
            <h3><span class="label label-default">操作历史</span></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-1">状态</th>
                        <th>命令</th>
                        <th>操作说明</th>
                        <th>信息</th>
                        <th>操作时间</th>
                    </tr>
                </thead>
                <tr>
                    <td><font color="green"><span class="glyphicon glyphicon-ok"></span></font></td>
                    <td>借书</td>
                    <td>R001借C001</td>
                    <td>借书成功</td>
                    <td>2015-12-18 16:40</td>
                </tr>
                <tr class="danger">
                    <td><font color="red"><span class="glyphicon glyphicon-exclamation-sign "></span></font></td>
                    <td>还书</td>
                    <td>还C002</td>
                    <td>还书出错：册条码不存在！</td>
                    <td>2015-12-18 17:00</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3><span class="label label-default">读者信息</span></h3>
            <div class="table-responsive" id="divPatron">
                <table class="table">
                    <tr>
                        <td class="col-lg-3" style="background-color:#EEEEEE">读者证条码号</td>
                        <td class="col-lg-3" data-bind="text: patronVModel.barcode"></td>
                        <td class="col-lg-3" style="background-color:#EEEEEE">证状态</td>
                        <td class="col-lg-3" data-bind="text: patronVModel.state">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="background-color:#EEEEEE">读者类别</td>
                        <td data-bind="text: patronVModel.readerType"> </td>
                        <td style="background-color:#EEEEEE">失效日期</td>
                        <td data-bind="text: patronVModel.expireDate"></td>
                    </tr>
                    <tr>
                        <td style="background-color:#EEEEEE">姓名</td>
                        <td data-bind="text: patronVModel.name"></td>
                        <td style="background-color:#EEEEEE">单位</td>
                        <td data-bind="text: patronVModel.department"></td>
                    </tr>
                </table>
                </div>

                <h3><span class="label label-default">借阅信息</span></h3>
            <div class="table-responsive" id="divBorrow">
                <table class="table  table-striped">
                    <thead></thead>
                    <tr>
                        <th>册条码号</th>
                        <th>摘要</th>
                        <th>续借次</th>
                        <th>借阅日期</th>
                        <th>期限</th>
                        <th>操作者</th>
                        <th>应还日期</th>
                    </tr>
                    <tbody data-bind="foreach: borrowModel.borrows">
                        <tr>
                            <td data-bind="text: barcode"></td>
                            <td>Summary</td>
                            <td data-bind="text:renewNo"></td>
                            <td data-bind="text:borrowDate"></td>
                            <td data-bind="text:period"></td>
                            <td data-bind="text:borrowOperator"></td>
                            <td data-bind="text:returnDate"></td>
                        </tr>
                    </tbody>
</table>
                </div>




            </div>
    </div>
</div>

